/* Contact.css */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-form {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* Add a white background to the form */
}

.contact-form h2 {
  font-size: 24px;
  margin: 0 0 20px;
  text-align: center;
  color: #333; /* Change the text color */
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Change the label text color */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  background-color: #f9f9f9; /* Add a light gray background to input fields */
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px; /* Create space between the button and other form elements */
}

button:hover {
  background-color: #0056b3;
}

.map {
  flex: 1;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
