/* HomeProductComponent.css */
.home-products {
    text-align: center;
    margin-top: 100px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px; /* Increase the grid-gap for more space between products */
    justify-content: center;
    align-items: center;
}

.product {
    background-color: #fff;
    padding: 80px; /* Increase the padding for larger product containers */
    border-radius: 20px;
}


.product-image {
    max-width: 200%;
    height: 300px;
    max-height: 700px; /* Further increase max-height for larger images */
}

.product h3 {
    margin-top: 10px;
    font-size: 1.5em; /* Increase font size for product names */
}

.product p {
    font-size: 1.3em; /* Increase font size for prices */
    color: #007bff;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}
