.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background: white;
    padding-bottom: 50px;
  }
  .footer hr {
    width: 1505px;
    height: 3px;
    background: #989898;
    border: none;
  }
  .footer p{
      color: #1A1A1A;
      font-size: 20px;
  }